* {
    padding: auto;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.page {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 60%;
}
.btn__fetured {
    background-color: #ffffff;
    border-color: #FF6A6A;
    color:#FF6A6A;
    
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 15px 32px;
    font-size: 16px;
    display: flex;
}
.fetured__items {
    width: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}
.sub__fetured__items {
    width: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #9F9F9F;
}
.people__box {
    color: #9F9F9F;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.people {
    position: relative;
}

.btn__del {
    position: absolute;
    top: 20px;
    right: 22px;
    width: 18px;
    height: 18px;
    font-size: 0;
    border: none;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/cross.svg);
    cursor: pointer;
}

.people__content {
    background-color: #F8F8F8;
    display: inline-grid;
    width: 350px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    
}

.people__img {
    width: 350px;
}

.people__desc {
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    width: 90%;
}

.people__name {
    text-align: center;
    margin-bottom: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #222222
}

.people__username {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #EF5B70;

}

.people__qty {
    gap: 24px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.input__quantity {
    width: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    text-align: center;
    border: 1px solid #EAEAEA;
}